{% extends "blog/base.html" %} 

{% block title %} My blog {% endblock %} 

{% block content %}
  <h1>My blog</h1>

  <!-- Tags and posts will appear in this view: /blog/tag/music/ -->
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}


  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    <!-- Display tags under the post title -->
    {% if post.tags.all %}
      <p class="tags">
        Tags: 
        <!-- Loop through all tags of a post and display a custom link - to filter posts by that tag when the link is clicked -->
        {% for tag in post.tags.all %}
          <!-- Creats a link to the tag path e.g. http://127.0.0.1:8000/blog/tag/hello/ -->
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}"> 
            {{ tag.name }}
          </a>
          <!-- Tags are separated by commas. 'if forloop.last' allows to test if the loop is on its last iteration -->
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    {% endif %}

    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|truncatewords:30|linebreaks }} 
  {% endfor %} 
  {% include "pagination.html" with page=posts %}
{% endblock %}
